<form #addForm="ngForm">
  <h1>New member</h1>
  <div>
    <p>Id:</p>
    <input
      class="field"
      name="id"
      [(ngModel)]="newMember.id"
      required
      #id="ngModel"
    />
    @if(id.invalid && id.touched){
    <div class="error">The field id is required</div>
    }
  </div>
  <div>
    <p>Name:</p>
    <input
      class="field"
      name="name"
      [(ngModel)]="newMember.login"
      required
      minlength="4"
      #name="ngModel"
    />
    @if(name.invalid && name.touched){ @if(name.errors!['required']){
    <div class="error">The field name is required.</div>
    } @else if(name.errors!['minlength']){
    <div class="error">
      Name must be at least
      {{ name.errors!["minlength"].requiredLength }} characters. It has only
      {{ name.errors!["minlength"].actualLength }}.
    </div>
    }}
  </div>
  <div>
    <p>Avatar:</p>
    <button class="custom-button" mat-raised-button color="accent">
      <input
        class="button-avatar"
        name="avatar"
        (change)="handleFileInput($event)"
        type="file"
        accept="image/*"
      />
      Choose image file...
    </button>
    <div class="custom-button">
      <img [src]="newMember.avatar_url" width="50" />
    </div>
  </div>
  <button
    class="custom-button"
    mat-raised-button
    color="accent"
    [disabled]="addForm.invalid"
    (click)="
      add();
      addForm.controls['name'].markAsUntouched();
      addForm.controls['id'].markAsUntouched()
    "
  >
    Add member
  </button>
</form>
