<div class="container">
  <mat-card class="generic-card">
    <h1>Full Layout of Mini Application</h1>
    <p>In this exercise, the following is practiced:</p>
    <ul>
      <li>CLI for creating components and services.</li>
      <li>Adding Angular Material to the project.</li>
      <li>Designing the complete layout of an application.</li>
      <li>Programming a service to manage the application state.</li>
      <li>Service injection.</li>
      <li>Routing.</li>
      <li>Form handling.</li>
      <li>Binding.</li>
      <li>Structural Directives.</li>
      <li>Utilization of the assets directory.</li>
      <li>Creation of a custom directive.</li>
      <li>Parameterization of directives with &commat;Input.</li>
      <li>Event binding with &commat;HostListener.</li>
      <li>Lifecycle: ngOnInit().</li>
      <li>Usage of RxJs.</li>
    </ul>
  </mat-card>
</div>
